@font-face {
  font-family: Mont-Bold;
  src: url(../assets/fonts/Mont-Trial-Bold.ttf);
}

@font-face {
  font-family: Mont-Light;
  src: url(../assets/fonts/Mont-Trial-Light.ttf);
}

@font-face {
  font-family: Mont-Regular;
  src: url(../assets/fonts/Mont-Trial-Regular.ttf);
}

@font-face {
  font-family: Mont-SemiBold;
  src: url(../assets/fonts/Mont-Trial-SemiBold.ttf);
}

@font-face {
  font-family: Mont-Thin;
  src: url(../assets/fonts/Mont-Trial-Thin.ttf);
}

.custom-nav .navbar-brand img {
  width: 4rem;
  height: auto;
}

.custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px;
  font-family: Mont-Bold;
}

.custom-nav button {
  padding: 0;
}

.custom-nav button span img {
  width: 45px;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  font-family: Mont-Regular;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #3652a2;
}

.landing {
  margin-bottom: 1rem;
}

.custom-section {
  width: inherit;
}

.logo {
  width: 2rem;
}

#spin:after {
  content: "";
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    content: "Online Store";
  }

  25% {
    content: "QR Solutions";
  }

  50% {
    content: "Delivery";
  }

  75% {
    content: "Payments";
  }

  100% {
    content: "Point of Sale";
  }
}

.landing-tagline {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button {
  /* display: inline-block; */
  padding: 8px 22px;
  color: #fff;
  background-color: #3652a2;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button:hover {
  text-decoration: none;
  color: #3652a2;
  background-color: #fff;
  border: 1px solid #3652a2;
}

.work-control {
  font-family: Mont-Bold;
  padding: 2%;
}

.work-button {
  /* display: inline-block; */
  padding: 8px 22px;
  color: #fff;
  background-color: #3652a2;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.work-button:hover {
  text-decoration: none;
  color: #3652a2;
  background-color: #fff;
  border: 1px solid #3652a2;
}

/* get-started */
#get-started {
  padding-bottom: 4rem;
}

.get-started-control {
  font-family: Mont-Bold;
  text-align: center;
  padding-top: 2rem;
}

.get-started-button {
  /* display: inline-block; */
  padding: 8px 22px;
  color: #fff;
  background-color: #3652a2;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.get-started-button:hover {
  text-decoration: none;
  color: #3652a2;
  background-color: #fff;
  border: 1px solid #3652a2;
}

@media screen and (max-width: 991.98px) {
  .custom-section {
    margin: 0;
    flex-direction: column-reverse;
  }
}

.custom-section .landing-text {
  padding: 3rem;
}

.custom-section .landing-text h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #000;
  font-family: Mont-Bold;
  margin-bottom: 0;
  line-height: 1;
  white-space: nowrap;
}

.custom-section .landing-text h3 {
  color: #000;
  font-family: Mont-Light;
}

.custom-section .landing-text a {
  font-family: Mont-Bold;
}

.custom-section .landing-lottie .lottie-file {
  width: 100%;
  position: absolute;
  top: -14rem;
  right: 0%;
}

@media screen and (max-width: 991.98px) {
  .custom-section .landing-lottie img {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }
}

.custom-section .landing-lottie .animate-img img {
  width: 118px;
  position: absolute;
  top: -13.5rem;
  right: 2.9rem;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .custom-section .landing-text h2 {
    font-weight: 700;
    font-size: 3rem;
    color: #000;
    font-family: Mont-Bold;
    margin-bottom: 0;
    line-height: 1;
    white-space: nowrap;
  }

  .landing-tagline {
    font-size: 1rem;
  }
}

/* footer */
footer {
  padding: 2em;
}

/* block-23 */
.block-23 ul {
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.block-23 ul li,
.block-23 ul li>a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}

.block-23 ul li .icon {
  width: 25px;
  font-size: 18px;
}

/* list-unstyled */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li a {
  text-decoration: none;
}

/* icons */
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

/* footer section */

.footer-section {
  background-color: #2c3e98;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.footer-section:after {
  position: absolute;
  top: -300px;
  left: -100px;
  width: 800px;
  height: 800px;
  content: "";
  background: url(../assets/images/blob-shape.svg);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.05;
}

.footer-section a {
  color: #7f72e4;
}

.footer-section p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section .copyright {
  color: rgba(255, 255, 255, 0.3);
  color: #999999;
}

.tdpvista {
  text-decoration: none;
}

.footer-section .footer-heading {
  font-size: 18px;
  margin-bottom: 16px;
  color: #fff;
  position: relative;
}

.footer-section .footer-heading:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 40px;
  height: 2px;
  background: #7f72e4;
}

.footer-section ul.list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .block-21 .text .heading a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .block-21 .meta>div a {
  color: #7f72e4;
}

.footer-section .block-23 ul li {
  color: rgba(255, 255, 255, 0.6);
}

.footer-section .block-23 ul li a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-section .block-23 ul li .icon {
  color: rgba(255, 255, 255, 0.4);
}

.footer-section .ftco-footer-social li a {
  background: #7f72e4;
  color: #fff;
}

/* solutions */

.solution-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
  padding-top: 3rem;
}

figure {
  margin: 0;
}

.card {
  /* width: 400px; */
  height: auto;
  margin: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal; */
  /* -ms-flex-direction: column; */
  flex-direction: column;
  /* min-width: 0; */
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 2rem;
}

.solution-card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  /* -webkit-box-shadow: 0 20px 40px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s; */
}

.card .img-wrap {
  overflow: hidden;
}

.card-lg .img-wrap {
  height: 100%;
}

.solution-card .img-wrap {
  border-radius: 0 0 2rem 2rem;
}

.img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-wrap {
  text-align: center;
  display: block;
}

.solution-card .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}

.solution-card-text {
  padding: 2rem 2rem 0 2rem;
}

.solution-card-title {
  font-family: Mont-Bold;
}

.solution-card-description {
  padding: 1rem 0 1rem 0;
  font-family: Mont-Regular;
}

/* work */

.work-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
  padding-top: 3rem;
}

.work-info {
  padding: 5%;
  /* align-items: center; */
  /* text-align: center; */
}

.work-section-image {
  padding: 2%;
}

.work-section .title {
  font-family: Mont-Bold;
  padding: 2%;
}

.work-section .description {
  font-size: 18px;
  color: grey;
  padding: 2%;
  font-family: Mont-Regular;
}

.work-image-section {
  width: 100%;
  text-align: center;
}

.work-image:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

.event-image-page {
  text-align: center;
}

.work-image {
  width: 100%;
  border-radius: 10px;
}

/* business */
.business-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
}

/* partners */
.partners-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
  padding-top: 3rem;
}

/* get-started */
.get-started-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
  padding: 1.5rem;
}

.get-started-section-description {
  font-family: Mont-Light;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

/* contact */
.contact-section-title {
  font-family: Mont-Bold;
  font-size: 3rem;
  padding-top: 3rem;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  /* event card */

  .wrap-event {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 5%;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .wrap-event {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-card {
    margin: 5rem;
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .wrap-event {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-card {
    margin: 4rem;
    display: block;
  }

  .work-section-title,
  .solution-section-title,
  .get-started-section-title,
  .partners-section-title,
  .business-section-title,
  .contact-section-title {
    font-size: 1.5rem;
  }

  .work-section-image {
    padding: 2rem;
  }

  .contact-title,
  .contact-description {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .contact-form {
    margin: 1rem;
  }

  .contact-info {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .wrap-event {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-card {
    margin: 3rem;
    
  }

  #spin {
    font-size: 2rem;
  }

  .work-section-title,
  .solution-section-title,
  .get-started-section-title,
  .partners-section-title,
  .business-section-title,
  .contact-section-title {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .get-started-section-description {
    font-size: 1rem;
    padding: 1rem;
  }

  .work-section-image {
    padding: 2rem;
  }

  .contact-form {
    margin: 1rem;
  }

  .contact-info {
    padding: 2rem;
  }
}

@media (max-width: 1200px) {
  .work-section-item {
    display: block;
  }

  .work-section-item-first {
    display: block;
  }

  .work-section-item-second {
    display: flex;
    flex-direction: column-reverse;
  }

  .work-info .title,
  .description,
  .work-control {
    text-align: center !important;
  }
}

@media screen and (min-width: 1200px) {
  .card-section {
    display: flex;
  }

  .partner-card-item {
    margin-right:3rem;
    margin-left: 3rem;
  }
  .partner-card {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .work-section-title,
  .solution-section-title,
  .get-started-section-title,
  .partners-section-title {
    padding: 3rem 24rem 2rem 24rem;
  }

  .business-section-title {
    padding: 3rem 20rem 2rem 20rem;
  }

  .get-started-section-description {
    padding: 0 16rem 0 16rem;
  }

  .contact-section-title {
    padding: 1rem 24rem 0 24rem;
  }
}

/* contact */
.text-black {
  color: #000;
}

.content {
  line-height: 1.9;
  padding: 1rem 0 2rem 0;
}

.heading {
  font-family: Mont-Bold;
  font-size: 2.5rem;
  font-weight: 900;
}

.contact-description {
  font-family: Mont-Light;
}

.form-group {
  margin: 1rem;
  /* width: max-content; */
  flex-shrink: unset;
  margin-right: 2rem;
  scroll-margin-left: 2rem;
}

.form-control {
  border-radius: 10px;
  border: none;
  background: #f3f3f3;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.col-form-label {
  color: #000;
}

.btn,
.form-control,
.custom-select {
  height: 50px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 10px !important;
}

.btn.btn-primary {
  background: #000;
  color: #fff;
  padding: 15px 20px;
}

.btn:hover {
  color: #fff;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}

.box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.img-fluid {
  border-radius: 10px;
}

.img-fluid:hover{
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

/* partners */
.partner-card-item {
  cursor: pointer;
  height: 450px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 2rem;
}

.hd {
  font-size: 25px;
  font-weight: 550
}

.partner-card-item .hover,
.partner-card-item:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
  height: 200px;
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
  font-family: Mont-Bold;
}

.card-subtitle {
  font-family: Mont-Regular;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important
}

/* business */

#business {
padding: 2rem;
}

.business-card {
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}